extends layout

block title
  title About Us - Ballinlough Dental Care
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','https://www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-96851255-1', 'auto'); ga('send', 'pageview');


block content
  section#wrapper
    header
      .inner
        h2 About Us
        p
          | Our team of highly trained staff are on hand to take care
          | of you.
    section#one.wrapper
      .inner
        section.features
          article
            span.image: img(src='images/dt.jpg' alt='')
            h3.major Diarmuid Twomey
            p
              | Diarmuid is a native of Ballincollig, Co. Cork. After
              | graduating from University College Cork in 2003 he spent
              | 5 years in London working in NHS
              | and private practice. Upon returning to Ireland he
              | spent 5 years working in general practice in Galway until coming home to Cork in
              | March 2014 to take over the practice
              | from Hilary.
          article
            span.image: img(src='images/hh.jpg', alt='')
            h3.major Hilary Hogan
            p
              | Hilary set up the practice in 1983 following a few
              | years working around Cork City after he graduated from
              | University College Cork in 1981. Hilary is local to the
              | area after growing up on the Boreenmanna Road. Hilary retired in 2020.
          article
            span.image: img(src='images/nr.jpg', alt='')
            h3.major Naomh Royal
            p
              | Naomh joined the practice in 2015 after training and
              | working as a dental nurse in her hometown of Carrigaline
              | for the previous four years. She graduated from Cork
              | University Dental Hospital and School in 2015.
          article
            span.image: img(src='images/mj.jpg', alt='')
            h3.major Mari-Lize Judge
            p
              | Mari-Lize moved to Ireland from South Africa in the summer of 2019 and    
              | started working with us shortly after. She has over twenty years experience
              | working in both dental and and medical practices
              | in her native country and is a great addition to the team.

    section#two.wrapper.spotlight.alt.style1
      .inner
        span.image: img(src='images/seminar.jpg')
        .content
          h3.major Training and Expertise
          p
            | At Ballinlough Dental Care we take great pride in
            | providing the care you need to keep your smile beautiful and
            | your mouth healthy. To do this we are committed to
            | continuing education.
          p
            | To keep informed of new techniques,
            | new technologies and the latest innovations, all members of
            | the team regularly attend educational and training
            | programmes in Ireland and the U.K.

    section#three.wrapper.spotlight.style2
      .inner
        span.image: img(src='images/infection-control.jpg')
        .content
          h3.major Infection Control
          p
            | Ballinlough Dental Care has passed both HSE and HSA inspection and is
            | HIQA compliant, following their sterilisation guidelines.

    section#four.wrapper.spotlight.alt.style3
      .inner
        span.image: img(src='images/ida-idc.png')
        .content
          h3.major Membership of Professional Bodies
          p
            | Diarmuid and Hilary are members of the Irish Dental
            | Association and are registered with the Irish Dental
            | Council.
