extends layout

block title
  title Contact Us - Ballinlough Dental Care

block content
  section#wrapper
    header
      .inner
        h2 How to find us
    .wrapper
      .inner
        h3.major Location
        iframe(width='100%' height='400px', src='https://www.google.com/maps/embed/v1/place?q=Hogan%20Dental%20Surgery%2C%20Cork%2C%20Ireland&key=AIzaSyASq0X6In9DRB4IYQtOmTh7FIS8mq6wk4M', frameborder='0')
        p
          | You can find us on the Boreenmanna Road at the crossroads of
          | Boreenmanna Road, Wallace&apos;s Avenue and Victoria Avenue.
