extends layout

block title
  title Fees - Ballinlough Dental Care

block content
  style.
    table td:last-of-type {
      text-align: right;
    }
  section#wrapper
    header
      .inner
        h2 Fees
        p
          | The following is a list of costs for various procedures.
    .wrapper
      .inner
        table
            tr
              th Examination (including oral cancer screening and intra-oral x-rays)
              th (If it is your first time with us, or over 12 months since your last visit an Examination is mandatory)
              td &euro;50
            tr
              th Scale and Polish
              td &euro;50
            tr
              th Exam, Scale and Polish
              td &euro;90
            tr
              th Prescription only
              td &euro;30
            tr
              th Emergency Appointment and Consultation (including necessary x-rays)
              td &euro;50
            tr
              th Prolonged Gum Treatment with Anaesthetic (per quadrant)
              td &euro;70
        h3 Fillings
        table
          tbody
            tr
              th Silver Fillings
              td &euro;80 - &euro;120
            tr
              th White Fillings
              td &euro;100 - &euro;200
        h3 Tooth Extraction
        table
          tbody
            tr
              th Routine
              td &euro;90 - &euro;150
            tr
              th Surgical/Emergency/Wisdom Tooth
              td &euro;150 - &euro;200
        h3 Dentures
        table
          tbody
            tr
              th Partial Acrylic
              td &euro;450 - &euro;650
            tr
              th Chrome Denture
              td &euro;1200
            tr
              th
                | Full Upper 
                em and
                |  Lower
              td &euro;1200
            tr
              th
                | Full Upper 
                em or
                |  Lower
              td &euro;700
            tr
              th Denture Repairs/Additions
              td &euro;100
            tr
              td per addition, add
              td &euro;10
            tr
              th Denture Reline
              td &euro;180
        h3 Dental Crown and Bridgework
        table
          tbody
            tr
              th Dental Crown
              td &euro;800
            tr
              td for gold, add
              td &euro;100
            tr
              td for post and core, add
              td &euro;150
            tr
              th Dental Bridge (per tooth/unit)
              td &euro;650
            tr
              th Maryland Bridge (per tooth/unit)
              td &euro;400
            tr
              th Veneers
              td &euro;600
            tr
              th Recement Crown
              td &euro;80
            tr
              th Recement Bridge
              td &euro;120
        h3 Miscellaneous
        table
          tbody
            tr
              th Full Mouth Teeth Whitening
              td &euro;200 - 250
            tr
              th Top-up Tooth Whitening Kit
              td &euro;30 - &euro;90
            tr
              th Sports Mouthguard/Gumshield
              td &euro;80
            tr
              th Biteguard
              td &euro;140
            tr
              th Orthodontic Essix Retainers (pair)
              td &euro;150
            tr
              th Anti-Snoring Device
              td &euro;450
        h3 Children&apos;s Fees
        table
          tbody
            tr
              th Exam (under 5)
              td Free
            tr
              th Exam (under 16)
              td &euro;30
            tr
              th Scale and Polish (under 16)
              td &euro;30
            tr
              th Baby-tooth Extraction/Filling
              td &euro;80
            tr
              th Fissure Sealant
              td &euro;40

        h3.major P.R.S.I

        p
          | Patients who qualify under the PRSI/PPS Dental Scheme are
          | entitled to one free examination and one subsidised cleaning (€15) per year.

        h3.major Missed Appointments and Late Cancellations
        
        p
          | We ask for 24 hours notice if an appointment is to be rescheduled or cancelled.
          | Missed appointments or those cancelled after this time may be subject to a &euro;50
          | missed appointment fee per 30 minutes.
